<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href={{css}}>
    <link rel="stylesheet" href={{csss}}>
    <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon">
    <meta name="description" content="Кровельные материалы и работы в городе Севастополь." />
    <meta name="description"
        content="Кровельные материалы от производителя в городе Севастополь.Купить водосточную систему с доставкой по г.Севастополю." />
    <meta name="description"
        content="Кровля,металлочерепица,битумная черепица,цементно-пещаная черепица,профнастил,желоб водосточный,софиты,гидробарьер,мастика битумная,саморезы кровельные,огнебиозащита Севастополь." />
    <meta name="robots" content="index">
    <title>Кровля</title>
</head>

<body>
    <header>
        <div class="nav-left">
            <img class="logo" src="/static/img/logo.png" align="left" alt="">
            <h3>КровСтройСервис</h3>
        </div>
        <div class="nav-center"></div>
        <div class="nav-right">
            <div class="nav-dummy">
                <div class="dummy"></div>
                <div class="nav-right-a">
                    {{!-- <a href="#">Главная</a>
                    <a href="#">Материалы</a> --}}
                </div>
            </div>
        </div>
    </header>
    <div class="wrapper">
        {{{body}}}
    </div>
    <footer>
        <div class="footerNavLeft">
            <p class="date"></p>
            <p>
                г.Севастополь
            </p>
            <p>Фиолентовское шоссе 18б</p>
        </div>
    </footer>
    <script src="/static/js/index.js"></script>
    <script src={{jss}}></script>

</body>

</html>