<div class="bgfx cd-section">
    <div class="blur">
        <center>
            ​Кровельные работы в Севастополе <br> Надежное качество по доступным ценам <br> <br>
            тел. +7(978)862-26-55<br />офис<br />
            тел. +7(978)128-48-15<br />Дмитрий<br>
        </center>
    </div>
</div>
<div class="bgscroll cd-section">
    <div class="blur-dark">
        <div class="content dark">
            Несомненно, кровля является одним из основных элементов конструкции любого здания, и от того, насколько
            качественно и добротно она будет смонтирована, напрямую зависит не только комфортное пребывание в этом
            строении, но и срок его службы. Следовательно, выбор материала и выполнение работ по монтажу кровли –
            очень ответственный этап при любом строительстве или ремонте кровельной системы.
            <br>
            <br><b>
                Наша фирма в городе Севастополе специализируется на проведении всех видов строительно-монтажных работ по
                устройству кровли любой сложности. Наши мастера выполнят полный расчет и помогут подобрать кровельные
                материалы, исходя из имеющегося бюджета и индивидуальных пожеланий заказчика.</b>
            <br>
            <br>
            На высоком профессиональном уровне бригада наших опытных кровельщиков выполнит работы по укладке
            керамической, цементно-пещаной, композитной, битумной и металлочерепицы, фальца и профнастила , а также все
            необходимые сопутствующие работы.
            <br><br>

            Работая на строительном рынке уже не один год, мы гарантируем высокое качество выполненных нами работ. При
            этом цены на монтаж кровли вас приятно удивят.

            Материалы в наличии и под заказ по доступным ценам!

            Обращайтесь к нам и будьте уверены в качестве и надежности вашей кровли!
        </div>
    </div>
</div>
<div class="bgfx cd-section">
    <div class="blur"></div>
</div>
<div class="bgscroll cd-section">
    <div class="content">
        <center>
            <h2>Пример кровельных работ</h2>
        </center>
        <br>
        <div class="slider">
            <div class="item fade">
                <img class="imgslide" src="/static/img/1.jpg" style="width: 100%" alt="">
            </div>
            <div class="item fade">
                <img class="imgslide" src="/static/img/2.jpg" style="width: 100%" alt="">
            </div>
            <div class="item fade">
                <img class="imgslide" src="/static/img/3.jpg" style="width: 100%" alt="">
            </div>
            <div class="item fade">
                <img class="imgslide" src="/static/img/4.jpg" style="width: 100%" alt="">
            </div>
            <div class="item fade">
                <img class="imgslide" src="/static/img/5.jpg" style="width: 100%" alt="">
            </div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>
        <div style="text-align: center;">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
        </div>
    </div>
</div>
<div class="bgfx cd-section">
    <div class="blur"></div>
</div>
<div class="bgscroll cd-section">
    <div class="contents">
        <div class="foot">
            <div class="footleft">
                <p>металлочерепица кв.м от 250 руб.</p>
                <p>битумная черепица кв.м от 195 руб.</p>
                <p>цементно-песчаная черепица кв.м от 530 руб.</p>
                <p>профнастил кв.м от 270 руб.</p>
                <p>желоб водосточный 1шт. от 470 руб.</p>
            </div>
            <div class="footright">
                <p>софиты 1шт. от 410 руб.</p>
                <p>гидробарьер от 950 руб.</p>
                <p>мастика битумная 1 тюбик от 230 руб.</p>
                <p>саморезы кровельные 1уп(250шт.) от 650 руб.</p>
                <p>огнебиозащита 1шт(5кг) 850 руб.</p>
            </div>
        </div>
    </div>
</div>
<div class="bgfx cd-section"></div>